* {
  box-sizing: border-box;
  margin: 0;
}

p {
  font-size: 18px;
  color: #444;
}

.especial {
  background: lightblue;
  font-weight: bold;
}

#importante {
  background: red;
  color: white;
}

input[placeholder] {
  border: 1px solid blue;
  padding: 5px;
}

input[type="password"] {
  background: lightgray;
}
